<html>
<head>
	<title>Face3PO</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style>
#logo2 {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
</style>
<body id="main">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
		</div>
	</nav>
	<div class="form-group">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form action="like">
			Friend's Username:
			<input class="form-control" name="username" type="text" rows="4">
			<input type="hidden" name="username" value={{username}}>

			<br><button type="submit" class="btn btn-default">Go</button>
		</form>

	</div>
	</div>
</body>
<script>
</script>
</html>