<html>
<head>
	<title>Hate Measure</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<style>
	#accordion {
		margin: 20px;
	}
    #back {
        padding-top: 8px;
    }
</style>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-right" id="back"><a href="/"><button type="button" class="btn btn-default">Back</button></a></div>
		</div>
	</nav>
	Hey
    {{input}}
</body>
</html>